
pointing-poker-chat-message{
  .message-user{
    float:right;
  }
  .chat-message{
    width:100%;
  }
    .message-info{
      float:right;
      font-size: 0.7em;
      .timestamp{


      }
    }
}